.contents {
	text-align: center;
	padding: 20px;
	width: 300px;
	margin: 0 auto;
}

.image {
	display: none;
}

button {
	font-size: 30px;
	padding: 20px 30px;
	background-color: #ff5722;
	color: white;
	border: none;
	border-radius: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	cursor: pointer;
}

button:hover {
	color: #ff5722;
	background-color: white;
	border: 1px solid #ff5722;
}

.contents h1 {
	color: #ff5722;
	font-size: 50px;
	padding-top: 10px;
}

.contents p {
	font-size: 25px;
	padding: 20px;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

  @media all and (min-width: 800px) {

  	.contents {
  		width: 450px;
  	}

  	.contents h1{
  		font-size: 35px;
  	}

  	.contents p {
  		font-size: 20px;
  	}

  }

@media all and (min-width: 1330px) {

	button {
		border-radius: 5px;
		font-size: 20px;
		padding: 15px;
		margin-top: 20px;
	}

	.contents {
		width: 700px;
		text-align: left;
		float: left;
		padding-left: 150px;
		padding-top: 100px;
		
	}

	.contents h1 {
		font-size: 40px;
	}

	.contents p {
		font-size: 20px;
	}

	.rslides {
		display: none;
	}

	.image {
		position: relative;
		float: right;
		display: block;
	}

	#img1 {
		position: absolute;
		z-index: 2;
		right: 230px;
		top: 160px;
	}

	#img2 {
		position: absolute;
		z-index: 1;
    	right: 80px;
	}
}

@media all and (min-width: 1500px) {
	.contents {
		padding-left: 250px;
		
	}

	#img1 {
		right: 300px;
		top: 160px;
	}

	#img2 {
		position: absolute;
		z-index: 1;
    	right: 150px;
	}


}












